name: Terraform CI/CD

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  id-token: write          # Required for AWS OIDC
  contents: read
  pull-requests: write     # Comment terraform plan & infracost

jobs:
  terraform:
    name: "Terraform Plan & Apply"
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-west-2
      TF_WORKING_DIR: ./environments/development

    steps:
      # 1. Checkout repository
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Configure AWS Credentials using OIDC
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::105407205785:role/Github_Terraform_Role
          role-session-name: GitHubActions
          aws-region: eu-west-2

      # 3. Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # 4. Terraform fmt
      - name: Terraform Format
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform fmt -check

      # 5. Terraform Init
      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -input=false -upgrade

      # 6. Terraform Validate
      - name: Terraform Validate
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform validate

      # 7. Terraform Plan
      - name: Terraform Plan
        id: tfplan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform plan -out=tfplan.binary

      # # 8. Convert plan to JSON for Infracost
      # - name: Terraform Show JSON
      #   working-directory: ${{ env.TF_WORKING_DIR }}
      #   run: terraform show -json tfplan.binary > plan.json

      # # 9. Install Infracost (Free)
      # - name: Setup Infracost
      #   run: |
      #     curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | sh

      # # 10. Run Infracost and comment on PR
      # - name: Run Infracost
      #   if: github.event_name == 'pull_request'
      #   working-directory: ${{ env.TF_WORKING_DIR }}
      #   env:
      #     INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}
      #   run: |
      #     infracost breakdown --path plan.json --format json --out-file infracost.json
      #     infracost comment --path infracost.json --repo ${{ github.repository }} --pull-request ${{ github.event.pull_request.number }} --github-token ${{ secrets.GITHUB_TOKEN }}

      # 11. Apply only when pushing to main
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve tfplan.binary
